<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <!-- Rule 1: Don't rewrite requests for static files (js, css, images, etc.) -->
        <rule name="StaticContent" stopProcessing="true">
          <match url="^(.*/)?(.*\.(html|css|js|png|jpg|gif|ico|json))$" />
          <action type="None" />
        </rule>
        <!-- Rule 2: Rewrite all other requests to server.js -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="server.js"/>
        </rule>
      </rules>
    </rewrite>
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>